#shortcutLegend {
  background-color: #e1efb4;
}
#shortcutLegend h4,
#shortcutLegend p {
  margin: 0;
  padding: 0;
}
#shortcutLegend h3 {
  margin-top: 0;
}
#shortcutLegend p {
  margin-left: 0.5em;
}
#bookmarkletSection {
  background-color: #e1efb4;
}
#bookmarkletSection h4,
#bookmarkletSection p {
  margin: 0;
  padding: 0;
}
#bookmarkletSection h3 {
  margin-top: 0;
}
#bookmarkletSection p {
  margin-left: 0.5em;
}
#bookmarks {
  margin: 0em 1em;
  padding: 0;
  list-style: none outside none;
}
#bookmarks .bookmark {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.2em;
  padding: 0.2em;
}
#bookmarks .bookmark:nth-child(2n+1) {
  background-color: #b7d84b;
}
#bookmarks .bookmark:nth-child(2n) {
  background-color: #e1efb4;
}
#bookmarks .bookmark .url {
  margin: 0.1em;
  text-decoration: none;
}
#bookmarks .bookmark .name {
  margin: 0.1em;
}
#bookmarks .selectedBookmark {
  background-color: #44accf !important;
}
